<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <h2>Home</h2>
    <hr>
    <h3>Books</h3>
<div id="root"></div>
<script type="text/babel">


const BookList = (props) => {
    const listItems = props.data.map((item) =>
    <li key={item._id} id={item._id} onClick={props.clickHandler}>
        {item.title}
    </li>);
    return <ul>{listItems}</ul>
}

const ItemDetails = (props) => {
    return <div>
        <hr />
        <h3>Book Details</h3>
        {props.item.title && <ul>
            <li>title: {props.item.title}</li>
            <li>author: {props.item.author}</li>
            <li>genre: {props.item.genre}</li>
            <li>pages: {props.item.pages}</li>
            <li>price: {props.item.price}</li>
        </ul>
        }
    <button onClick={props.reset}>Reset</button>
    </div>
}

class BookApp extends React.Component{
    constructor(props){
        super(props);
        this.state = {
            items: {{{ books }}},
            currentItem: {}
        };
        this.selectionItem = this.selectItem.bind(this);
    }

    selectItem = (event) => {
        console.log(event.target.innerText)
        const found = this.state.items.find((item) => {
            return item.title === event.target.innerText;
        });
        this.setState({currentItem: found})
    }

    render() {
        return (
          <div>
            <BookList data={this.state.items} clickHandler={this.selectItem} />
            <ItemDetails item={this.state.currentItem} />
          </div> );
      }
    }
    ReactDOM.render(<BookApp />, document.getElementById('root'));


// ReactDOM.render(
    // <div><BookList data={books} clickHandler={showDetail} /></div>,
// document.getElementById('root')
//);
</script>
</body>
</html>